<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body style="padding: 24px">
    <h1 class="h1">todos</h1>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Add a todo"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button class="btn btn-outline-success" type="button" id="button-addon2">
        Add
      </button>
    </div>
    <table class="table">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col" colspan="2">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Upcomming</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio1">Done</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option3"
            />
            <label class="form-check-label" for="inlineRadio1">All</label>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>
          <button class="btn btn-outline-primary" type="submit" value="edit">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" type="submit" value="delete">
            Delete
          </button>
        </td>
        <td>
        </td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>
          <button class="btn btn-outline-primary" type="submit" value="edit">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" type="submit" value="delete">
            Delete
          </button>
        </td>
      </tr>
    </table>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>